<template name="header">
  <header>
    <div id="new_header" class="b-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 col-md-8 col-lg-8">
          <div class="b-header__logo">
            <a href="/">
              <img class="mobile-logo" src="/images/logo__reverse--mobile.png" alt="Qustodio Family Portal">
              <img class="hidden-xs" src="/images/logo__reverse.png" alt="Qustodio Family Portal">
            </a>
            <div class="b-header__license hidden-xs">
              Welcome Back Patrick Gilder!
            </div>
          </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2">
          <div class="b-header__menu-section visible-xs">
            <div class="b-header__hello">Hello Patrick</div>
          </div>
                            <div class="b-header__menu-section hidden-xs">
            <div class="b-header__user">
                <img class="b-header__profile" src="/images/profile.png" alt="">
                <div class="b -header__hello">Hello Patrick</div>
            </div>
          </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2">
          <div class="b-header__icons">
              <a class="b-header__icon-link e_track hidden-xs" href="/messages" e-category="fp-badge-help-center-icon" e-action="click" e-label="locale-en-country-US-account_id-456160-e_mail-pgilder@designdelegate.co">
                  <img class="b-header__icon" src="/images/icon__help.png" alt="">
              </a>
              <a class="b-header__icon-link e_track" id="logout_button" href="/messages" e-category="fp-badge-logout" e-action="click" e-label="locale-en-country-US-account_id-456160-e_mail-pgilder@designdelegate.co">
                  <img class="b-header__icon" src="/images/icon__logout.png" alt="">
              </a>
          </div>
        </div>
      </div>
    </div></div>
  </header>
</template>
